body, html {
    height: 100%;
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Verdana, sans-serif;
}

h3 {
    margin: 0;
}


.container {
    display: grid;
    height: 100%;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 1fr 5fr;
}

.header {
    background-color: #ffffff;
    display: grid;
    grid-template-columns: 3fr 2fr;
    grid-template-rows: repeat(2, 1fr);
}

.sidebar h2 {
    padding-left: 40px;
}

.sidebar {
    background-color: #1992d4;
    grid-row: 1 / 3;
    color: white;
    display: grid;
    grid-template-rows: 1fr 3fr 7fr;
    min-width: 200px;
}

.sidebar ul {
    font-size: 20px;
    list-style: none;
}

.sidebar li {
    margin-bottom: 15px;
}

.content {
    background-color: #e2e8f0;
    padding: 20px;
    display: grid;
    grid-gap: 20px;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: 1fr 1fr;
    padding-bottom: 50px;
}

.search-bar {
    padding: 20px;
    padding-left: 80px;
}

.search-bar input {
    border-radius: 1rem;
    border: none;
    background-color: #e2e8f0;
    height: 30px;
    width: 550px;
}

.username {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding-right: 20px;
}

.greeting {
    padding-left: 80px;
}

.buttons {
    background-color: #ffffff;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 20px;
    grid-gap: 10px;
}

button {
    border-radius: 1rem;
    border: none;
    background-color: #1992d4;
    color: white;
    font-weight: bold;
    min-width: 100px;
}

.username h4 {
    color: black;
    text-align: right;
    grid-column: 3 / 4;
}

.card {
    background-color: white;
    height: 200px;
    border-radius: 7px;
    padding: 20px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.card .title {
    font-weight: bold;
    margin-top: 20px;
}

.announcement>.title {
    margin-top: 0;
}

.card .text, .trending-project {
    color: #636363
}


.projects {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: 1fr 1fr;
    grid-column: 1 / 2;
    grid-row: 1 / 3;
}

.project-title {
    grid-column: 1 / 3;
}

.projects .card {
    border-left: 8px solid #f0b429;
}


.announcements {
    display: grid;
    grid-template-rows: 1fr 8fr
}

.announcements .card {
    display: grid;
}

.announcement {
    font-size: 14px;
}

.announcements .card, .trending .card {
    height: auto;
}

.trending {
    display: grid;
    grid-template-rows: 1fr 8fr;
}

.trending .card {
    display: grid;
    justify-content: center;
    align-items: center;
    font-size: 14px;
}

.side-bar-icon {
    height: 30px;
    position: relative;
    top: 4px;
    right: 10px;
}

.sidebar h2>img {
    height: 40px;
    position: relative;
    top: 10px;
}