body, html {
    height: 100%;
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Verdana, sans-serif;
}


.container {
    display: grid;
    height: 100%;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 1fr 5fr;
}

.header {
    background-color: #ffffff;
}

.sidebar h2 {
    padding-left: 40px;
}

.sidebar {
    background-color: #1992d4;
    grid-row: 1 / 3;
    color: white;
    display: grid;
    grid-template-rows: 1fr 3fr 7fr;
}

.sidebar ul {
    font-size: 20px;
    list-style: none;
}

.sidebar li {
    margin-bottom: 15px;
}

.content {
    background-color: #e2e8f0;
}